// Main
::selection {
    background: $white;   
    color: $white;
}
::-moz-selection {
    background: $white;    
    color: $white;
}

body {
    background: $white; 
    padding: 0;
    margin: 0 auto;
    font-family: 'Yantramanav', Arial, sans-serif;
    color: $black; 
}

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

a {
    color: $blue;
    text-decoration: none;
}

menu,
ol,
ul {
    padding: 0 !important;
}

button {
    background: transparent;
    border: none;
}

button:focus {
    outline: none;
}

section {
    position: relative;
}

// Typography
h1, h2, h3, p {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: $large;
}

h2 {
    text-transform: uppercase;
    font-size: $large;
}

h3 {
    font-size: $medium;
}

p {
    font-size: $exsmall;
}

@media (max-width: $tablet) {
    h1, h2 {
        font-size: $medium;
    }

    h3 {
        font-size: $small;
    }
}


// Logo
.logo {
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 4;
    border: 2px solid $white;
    padding: 0 40px;
    color: $white;
    line-height: 40px;
    text-transform: uppercase;

    &.black {
        border-color: $black;
        color: $black;
    }
}

// Secondary Link
.secondaryLink {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3;
    color: $white;
    text-transform: uppercase;
    @include transition;

    &#{$interaction} {
        color: $blue;
    }
}

// Video
video {
    object-fit: cover;
    @include fullwidth;
}

.video-container {
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;

    &::after {
        background: $white;
        content: '';
        left: 0;
        opacity: 0.3;
        position: absolute;
        top: 0;
        z-index: 1;        
        @include fullwidth;
    }
}

// Carousel
.carousel-block {
    width: 60%;
    position: relative;

    h2 {
        color: $white;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .swiper-slide {
        background: $transparentWhite;
        padding: 20px;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        height: 200px;

        h3 {
            margin-bottom: 30px;
        }
    }

    .carouselNext {
        width: 50px;
        height: 72px;
        position: absolute;
        top: 50%;
        right: -60px;
        transform: translate(0%, -50%);
        cursor: pointer;
        @include transition;
        &::after {
            content: url('./../images/carousel-arrow.png')
        }

        &#{$interaction} {
            right: -70px;
        }
    }

    @media (max-width: $tablet) {
        width: 80%;

        .carouselNext {
            right: -50px;

            &#{$interaction} {
                right: -55px;
            }
        }
    }
}

// Background Image
.background-image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    @include fullwidth;
}

// Menu
#fp-nav.fp-right {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 4;
    width: 70px;
    ul {
        list-style: none;

        li {
            margin: 0 0 10px 0;
            float: right;
            width: 100%;
            cursor: pointer;

            a {
                width: 50px;
                height: 10px;
                background: $gray;
                display: block;
                float: right;
                @include transition;
                span {
                    display: none;
                }

                &.active {
                    width: 70px;
                    background: $blue;
                }
            }
        }
    }

    @media (max-width: $tablet) {
        top: 95%;
        right: 5%;
    }
}

// Component styles
.section {
    display: flex !important;
    overflow: hidden;
    min-height: 100vh;

    .video-container,
    picture img {
        @include animation;
        transform: scale(1.7);
    }

    &.active {
        .video-container,
        picture img {
            transform: scale(1);
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;    
    @include fullwidth;
}

.video-content {
    color: $gray;

    h2 {
        margin-bottom: 30px;        
        @include highlighted;
    }

    p {
        width: 50%;
        color: $gray;
        text-align: center;
    }
}

.slidingArrow {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -100px);
    cursor: pointer;
    animation: sliderArrowMove 3s infinite;

    &::after {
        content: url('./../images/carousel-arrow.png');
        transform: rotate(90deg);
        display: block;
    }

    &#{$interaction} {
        opacity: 1;
        animation-play-state: paused;
    }
}

@keyframes sliderArrowMove {
    0% {
        opacity: 1;
        transform: translate(-50%, -100px);
    }
    100% {
        opacity: 0.2;
        transform: translate(-50%, -70px);
    }
}