// Basic Colors
$black: #00000d;
$gray: #404040;
$blue: #4472c4;
$white: #ffffff;

$transparentWhite: rgba(255, 255, 255, 0.8);

// Interactions
$interaction: ':hover';

// Breakpoints
$tablet: 992px; 
$mobile: 592px;

// Font sizes
$large: 32px;
$medium: 24px;
$small: 20px;
$exsmall: 18px;

